.card {
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  color: var(--blanco);
  margin: 1rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
@media (max-width: 767px) {
  .card {
    margin-top: 5rem;
    font-size: 70%;
  }
}

.cardImg img {
  border-radius: 5px;
}

.body {
  transition: 0.3s ease;
  color: var(--negro);
}

.card:hover .body {
  background: var(--principal);
  color: var(--blanco);
}

.body h3 {
  font-size: 2rem;
  font-weight: 700;
}

.slider {
  cursor: pointer;
  width: 500px;
}
@media (max-width: 769px) {
  .slider {
    width: 300px;
  }
}

.slider img {
  border-radius: 5px;
  object-fit: cover;
}

.desc p {
  font-size: 1.5rem;
}

.desc h3 {
  font-size: 2.5rem;
  background-color: #ebebeb;
  padding: 0.5rem;
  border-radius: 3px;
}

.text {
  color: #7a7a7a;
  padding: 1.5rem;
  border-radius: 3px;
  line-height: 3rem;
  word-wrap: break-word;
  inline-size: 60rem;
}
@media (min-width: 1200px) {
  .text {
    width: 60rem;
  }
}
@media (max-width: 600px) {
  .text {
    font-size: 1.3rem !important;
    inline-size: 30rem;
  }
}
