:root {
  --principal: #9c0707;
  --blanco: #fff;
  --negro: rgb(20, 20, 20);
  --fuente-principal: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-size: 2rem;
  font-family: var(--fuente-principal);
  line-height: 1.5;
}
img {
  max-width: 100%;
}

[class*="slick-arrow"] {
  background-color: red !important;
  border-radius: 50%;
}
@media (max-width: 600px) {
  [class*="slick-arrow"] {
    display: none !important;
  }
}

[class*="contenedor"] {
  max-width: 120rem;
  margin: 0 auto;
  width: 95%;
}
[class*="heading"] {
  font-size: 4rem;
  text-align: center;
  font-weight: 600;
  color: var(--principal) !important;
  margin: 4rem 0;
}
