.header {
  background: var(--principal);
}

.img {
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.navlink {
  transition: 0.3s ease;
  color: var(--blanco);
}

.active {
  background-color: var(--blanco);
  color: black;
}

.active:hover {
  color: var(--negro);
}

.navlink:hover {
  background-color: var(--negro);
  color: var(--blanco);
}
