.inicioHeading {
  color: var(--principal);
  font-weight: 600;
  margin-bottom: 3rem;
}

.contactoHeading {
  color: var(--principal);
  font-weight: 600;
  margin-bottom: 3rem;
}

.redes {
  gap: 5rem;
}

.red {
  text-decoration: none;
  color: var(--negro);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 5rem;
  border-radius: 5%;
  transition: background-color 0.3s ease;
}
.red:hover {
  color: var(--blanco);
  background-color: var(--principal);
}
@media (max-width: 991px) {
  .red {
    width: 60%;
  }
}

.red span {
  text-decoration: underline;
}
